[submodule "src/RMCIOS-system"]
	path = src/RMCIOS-system
	url = https://github.com/fkorhone/RMCIOS-system.git
[submodule "src/RMCIOS-interface"]
	path = src/RMCIOS-interface
	url = https://github.com/fkorhone/RMCIOS-interface.git
[submodule "src/RMCIOS-base-module"]
	path = src/RMCIOS-base-module
	url = https://github.com/fkorhone/RMCIOS-base-module.git
[submodule "src/RMCIOS-windows-module"]
	path = src/RMCIOS-windows-module
	url = https://github.com/fkorhone/RMCIOS-windows-module.git
[submodule "src/RMCIOS-std-module"]
	path = src/RMCIOS-std-module
	url = https://github.com/fkorhone/RMCIOS-std-module.git
[submodule "src/RMCIOS-NI-module"]
	path = src/RMCIOS-NI-DAQmx-module
	url = https://github.com/fkorhone/RMCIOS-NI-module.git
